@font-face {
    font-family: FiraSans;
    src: url(FiraSans-Regular.woff);
    font-weight: 300px
}




body {
  background-image: url("bulldog.jpg");
  background-repeat: no-repeat;
    background-size: cover;




}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;

}

li {
    float: right;
}

li a {
    display: block;
    color: #88898B;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


li:first-child {
    display: block;
    color: white;
    background: #FF4850;
    padding: 0;
    background-radius: 15px;


}



li a:hover {
    background-color: #CCC;
    border-radius: 15px
}



.adopting {
  color: #FF4850;
}
