

* {
    font-family: 'Fira Sans', sans-serif;
}




body {
  background-image: url("bulldog.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    background-color: #F0ECEE;




}


#content {
  resize: horizontal;
  overflow: auto;
  width: 400px;
}









.menu ul
{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;


}

.menu ul li
{
	list-style: none;
  float: right;

}

.menu ul li a
{
	padding: 10px;
  text-align: center;
	display: block;
	color: #88898B;
	text-decoration: none;
  font-weight: 300;
}

.menu ul li a#contact
{
  display: block;
   color: white;
   background: #FF4850;
   border-radius: 15px;
   font-weight: 300;

}

.menu ul li a:hover
{
  display: block;
  background-color: #CCC;
  border-radius: 15px
}


h1 {
  margin-left: 40px;
  font-weight: 600;
  width: 400px;
  font-size: 20pt;
}


p {
  margin-left: 40px;
  color: #88898B;
  font-weight: 300;
}

.adopting {
  color: #FF4850;

}




.content a#find {
  display: inline-block;
  color: white;
  background-color: #FF4850;
  font-weight: 400;
  border-radius: 15px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  margin-left: 40px;


}
